#account-page.account-page
	= image_tag "/images/top7.jpg", alt: "売り子の画像"
	.home
		.hurry
			Hurry App
		.text
			野球×美女<br>
			球場で出会えるキュート
	.registration__link
		= link_to new_user_session_path do
			%div
				ログイン
		= link_to new_user_registration_path do
			%div
				新規会員登録
