.order
  .order__drink
    注文票
  .order__discription
    - @order.all.each do |order|
      %ul= order.created_at.strftime("%Y-%m-%d %H:%M")
      %li= order.user.name
      %li= order.seat
      %li= order.salesperson
      <br>
