#account-page.account-page{
  height: 100vh;
  position: relative;
  padding: 30px;
  img{
    border-radius: 20px;
    margin-left: 30px;
    // background-size: contain;
    // width: 350px;
    // height: 100vh;
    // height: 100%;
  }
  .registration__link{
    width: 28%;
    padding: 30px 50px;
    position: absolute;
    top: 300px;
    right: 100px;
    border: 0.5px solid #bbb;
    div{
      width: 200px;
      height: 50px;
      background-color: #FFAD90;
      margin: 10px auto;
      padding: 5px 10px;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      line-height: 2.5rem;
      &:hover{
        background-color: #FFDBC9;
      }
    }
  }
  .account-page__inner{
    width: 28%;
    color: #fff;
    position: absolute;
    top: 300px;
    right: 80px;
    padding: 30px 40px;
    font-size: 18px;
    text-align: center;
    border: 0.5px solid #bbb;
    &--left{
      color: red;
      text-shadow:0.5px 0.5px 0 #fff, -0.5px -0.5px 0 #fff,
              -0.5px 0.5px 0 #fff, 0.5px -0.5px 0 #fff,
              0px 0.5px 0 #fff,  0-0.5px 0 #fff,
              -0.5px 0 0 #fff, 0.5px 0 0 #fff;
    }
    .field{
      text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
              -1px 1px 0 #000, 1px -1px 0 #000,
              0px 1px 0 #000,  0-1px 0 #000,
              -1px 0 0 #000, 1px 0 0 #000;
      input{
        padding: 5px 10px;
        border: solid 2px #bbbbbb;
        outline: none;
        &:focus{
          border: 2px solid #FFAD90;
        }
      }
    }
    .actions{
      margin-top: 20px;
      input.btn{
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        background-color: #FFAD90;
        color: #fff;
        &:focus{
          outline: none;
        }
      }
    }

  }
}