.header{
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: #FFFFAA;
  padding-top: 10px;
  &__top{
    font-size: 20px;
  }
  &__bottom{
    border: double;
    padding-left: 20px;
    margin-top: 10px;
    background-color: #FFFFE0;
    display: flex;
    position: relative;
    &__contents{
      margin-left: 10px;
    }
    &__edit{
      position: absolute;
      right: 20px;
      a{
        text-decoration: none;
      }
    }
  }
}
.main{
  background-image: url("/assets/softbank.png");
  &__content{
    margin-top: 150px;
    font-size: 100px;
    display: inline-block;
    padding: 0.5em 1em;
    background: #668ad8;
    color: #FFF;
    border-radius: 3px;
    a{
      text-decoration: none;
    }
  }
  &__content:hover {
    background-color: #3399FF;
  }
  &__drinks{
    display: block;
    background-color: rgba(250, 250, 250, 0.5);
    margin: 50px;
    padding: 10px;
    &__image{
      display: inline;
    }
  }

  &__salespersons{
    display: block;
    background-color: rgba(250, 250, 250, 0.5);
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
    &__image{
      display: inline;
    }
  }
}