.header{
  width: 100%;
  position: fixed;
  text-align: center;
  background-image: url("/assets/softheader.jpg");
  padding-top: 10px;
  &__top{
    background-color: rgba(0, 255, 255, 0.5);
    text-shadow: 2px 2px 0 #fff;
    font-size: 20px;
    font-weight: bold;
    color: red;
    a{
      text-shadow: 2px 2px 0 #000;
      text-decoration: none;
      color: #FFFFAA;
    }
  }
  &__bottom{
    border: double;
    padding-left: 20px;
    margin-top: 10px;
    background-color: #FFFFE0;
    display: flex;
    position: relative;
    &__contents{
      margin-left: 10px;
      #move_drink{
        cursor: pointer;
      }
      #move_salesperson{
        cursor: pointer;
      }
      #move_top{
        cursor: pointer;
      }
    }
    &__edit{
      position: absolute;
      right: 20px;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
}
.main{
  font-weight: bold;
  background-image: url("/assets/softbank.jpg");
  text-shadow: 2px 2px 0 #fff;
  &__content{
    width: 100vh;
    margin: 0 auto;
    &__btn{
      margin-top: 150px;
      font-size: 100px;
      display: inline-block;
      padding: 0.5em 1em;
      background: #FFFF99;
      color: black;
      border-radius: 1000px;
    }
  }
  &__drinks{
    display: block;
    background-color: rgba(180, 180, 180, 0.5);
    margin: 50px;
    padding: 10px;
    &__image{
      display: inline;
    }
  }

  &__salespersons{
    display: block;
    background-color: rgba(180, 180, 180, 0.5);
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
    &__image{
      display: inline;
    }
  }
}