.show{
  margin: 30px;
  .progress{
    padding: 5px 10px;
    height: 30px;
    outline: none;
    border: 2px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
      background-color: #FFAD90;
      border: 2px solid #FF8856;
    }
  }
}